@import 'tailwindcss';

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(26, 32, 44);
  --primary: rgb(26, 89, 194);
  --border: rgb(226, 232, 240);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --font-sans: var(--font-anuphan), sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
